page-teat {
  .card1 {
    width: 38%;
    float:left;
    position: static;
  }

  .card2 {
    width: 38%;
    float:right;
    position: static;
  }

  .card3 {
    width: 38%;
    float:left;
    position: static;
  }

  .card4 {
    width: 38%;
    float:right;
    position: static;
  }

  .btn {
    width: 48%;
    float:left;
    position: relative;
  }
}
